body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.marT20 {
  margin-top: 20px;
}
.button-group .btn {
  margin-right: 5px;
}
.button-group .btn span {
  margin-left: 5px;
  margin-top: 2px;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
    transition: all linear 1.0s;
    display: block !important;
}

.animate-show.ng-hide-add.ng-hide-add-active, .animate-show.ng-hide-remove {
    opacity: 0;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}
